body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff8f0;
  }
  header {
    background-color: #483de2;
    padding: 1rem;
    color: white;
    text-align: center;
  }
  nav {
    background-color: #2c9bd7;
    padding: 0.5rem;
    text-align: center;
  }
  nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  .section {
    padding: 2rem;
  }
  .product-category {
    margin-bottom: 2rem;
  }
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 1rem;
  }
  .product-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: white;
    padding: 1rem;
    text-align: center;
  }
  .product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  .increment-button{
    max-width: fit-content;
    

  }
